<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>The awesome :)</title>
</head>

<body>
  <center>
    Awes0me.js0n b0t is {{status}} B-|.

  <hr/>
  lockys @ 2016.
  </center>
</body>
</html>
